<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h3 class="text-black" height="25"><b>Settings</b></h3>


    <div class="nav-item l-auto">
    <p  (click)="gotoAbout()">
    <img src="./assets/img/info.svg" width="25" height="50" >
    About
   </p>

<p (click)="gotoPrivacy()">
    <img src="./assets/img/shieldcheck.png" width="25" height="50"  >
    Privacy&Terms
    <br>
    <br>
    </p >
    <p (click)="gotoHelp()">
    <img src="./assets/img/question.jpeg" width="25" height="50" >
    Help&Support
    <br>
    <br>
    </p>
    <p>
    <img src="./assets/img/doc.png" width="25" height="50" >
    Vaccine Entries
    </p>
    <br>
    <br>
    <p (click)="gotoSign()">
    <img src="./assets/img/signout.jpeg" width="25" height="50" >
    SignOut

</p>
</div>
</nav> -->

















<nav class="navbar navbar-expand-lg navbar-light badge-success">
   
    <div class="container">
        <h1 class="header ml-4">Settings</h1>
        <div class="nav-item ml-auto">
            <img src="./assets/img/info.svg" width="25px" height="50px" >
    About
    <img src="../../assets/svg/shield-check.svg" width="25px" height="50px"  >
    Privacy&Terms
    <img src="../../assets/svg/question.svg" width="25px" height="50px" >
    Help&Support
    <img src="../../assets/svg/file-earmark.svg" width="25px" height="50px" >
    Vaccine Entries
    <img src="../../assets/svg/box-arrow-left.svg" style="width:25px;" >
    SignOut

        </div>
    </div>

</nav>