<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white">Explore</a>
        <div class="row">
            <div class="col">
                <img src="../../assets/svg/heart-fill.svg" alt="" (click)="gotoWishlist()">
            </div>
            <div class="col">
                <img src="../../assets/svg/cart.svg" class=" position-relative" alt="" (click)="gotoCart()">
                <span class="badge bg-danger  translate-middle p-1  position-absolute top-4"></span>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row mt-3" *ngIf="products$ | async as products">
        <div class="col-4" *ngFor="let product of products">
            <div class="card border-2">
                <div class="card-body p-4">
                    <div class="text-center">
                        <img [src]="product.imageUrl" style="object-fit: contain; height: 300px;"
                            (click)="viewProduct(product)"><br>
                    </div>
                    <div class="card-text mt-2 p-3">
                        <div class="row">
                            <div class="col-10">
                                <p class="fw-normal"> Name: {{product.name}}</p>
                                <p class="fw-normal">Color: {{product.color}}</p>
                                <p class="fw-normal">Price: {{product.price}}</p>
                            </div>
                            <div class="col-2">
                                <button class="btn d-flex" style="margin-left: auto;">
                                    <span>
                                        <img src="../../assets/svg/hand-thumbs-up.svg"
                                            *ngIf="product?.wishlist != 'Liked' && product?.wishlist != 'DisLiked'"
                                            alt="" (click)="addToWishlist(product)">
                                    </span>

                                    <span>
                                        <img src="../../assets/svg/hand-thumbs-up-fill.svg"
                                            *ngIf="product?.wishlist == 'Liked'" alt=""
                                            (click)="addToWishlist(product)">
                                    </span>
                                    <span>
                                        <img src="../../assets/svg/hand-thumbs-down-fill.svg"
                                            *ngIf="product?.wishlist == 'DisLiked'" alt=""
                                            (click)="addToWishlist(product)">
                                    </span>
                                </button>
                            </div>
                            <!-- <div class="col-2">
                                <button class="btn ">
                                    <span>
                                        <img src="../../assets/svg/hand-thumbs-down.svg"
                                            *ngIf="product?.wishlist != 'Liked'" alt=""
                                            (click)="addToWishlist(product)">
                                    </span>

                                    <span>
                                        <img src="../../assets/svg/hand-thumbs-down-fill.svg"
                                            *ngIf="product?.wishlist == 'Liked'" alt="">
                                    </span>
                                </button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{viewProducts?.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="hideEnableCart()"></button>
            </div>
            <div class="modal-body ">
                <div class="text-center">
                    <img [src]="viewProducts?.imageUrl" style="object-fit: cover; width: 300px; height: 300px;">
                    <hr>
                </div>
                <span class="badge bg-danger">{{viewProducts?.name}}</span>
                <p>{{viewProducts?.description}}</p>
                <button class="btn btn-sm btn-warning mt-2 w-100" (click)="addtoCart()">{{viewProducts?.status === 'In
                    Cart' ? 'Cart Added':'Add Cart' }}</button>
                <span *ngIf="addedCart" class="text-danger ">{{addedCart}}</span>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="cart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      Like
        </div>
    </div>
</div> -->
<div class="modal fade" id="viewCart" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Like & Dislike</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure want to like or dislike this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addingDislikes()"
                    [disabled]="viewWishlist?.wishlist == 'DisLiked'">Dislike</button>
                <button type="button" class="btn btn-primary" (click)="addingLikes()"
                    [disabled]="viewWishlist?.wishlist == 'Liked'">Like</button>
            </div>
        </div>
    </div>
</div>