<div class="container w-50">
    <div class="d-flex justify-content-center mt-3">
        <img src="../../assets/img/bakery-logo-preview-01-.jpg" class="rounded-circle" style="width: 200px;">
    </div>
    <form [formGroup]="loginForm" class="m-5 mt-3">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" formControlName="password">
        </div>
        <div class="mt-3">
            <button class="btn btn-primary w-100" (click)="gotoAdd()" (click)="gotoProduct()">Login</button>
        </div>
        <div class="mt-3 text-center">
        
         <a href="createaccount">CREATE AN ACCOUNT</a>
         </div>
    </form>
</div>


